<div class="container">
  <ul *ngFor="let item of details">
    <li>
      <div class="box">
        <div class="row">
          <div class="left">
            <h2>Name</h2>
          </div>
          <div class="right">
            <p>{{ item.name }}</p>
          </div>
        </div>
        <div class="row">
          <div class="left">
            <h2>Category</h2>
          </div>
          <div class="right">
            <p>{{ item.category }}</p>
          </div>
        </div>
        <div class="row">
          <div class="left">
            <h2>Description</h2>
          </div>
          <div class="right">
            <p>{{ item.desc }}</p>
          </div>
        </div>
        <div class="row">
          <div class="left">
            <h2>Model</h2>
          </div>
          <div class="right">
            <p>{{ item.model }}</p>
          </div>
        </div>
        <div class="row">
          <div class="left">
            <h2>Color</h2>
          </div>
          <div class="right">
            <p>{{ item.color }}</p>
          </div>
        </div>
        <div class="row">
          <div class="left">
            <h2>Fuel Type</h2>
          </div>
          <div class="right">
            <p>{{ item.fueltype }}</p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<button class="btn" routerLink="/vehicle">Back to list</button>
